* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

line {
    stroke: gray;
}

rect {
    fill: teal;
}

text.name {
    fill: white;
}

text {
    fill: teal;
}
